<div >
    <strong style="background-color: rgba(226, 218, 228, 0.972); padding-left: 10%; padding-right: 10%;">{{post.title}}</strong>
    
    <section >
        <P style="background-color: rgb(248, 247, 247);">{{post.text}}</P>
    </section>

    <section style="padding-bottom: 5%;">
        <button style="background-color: rgb(150, 114, 150); color: white; cursor: pointer;" type="button" (click)="onClick()">Delete</button>
    </section>
</div> 


<!-- <div style="background-color: antiquewhite;">
    <h4>
        <a routerLink="">{{post.title}}</a>
    </h4>
    <P>{{post.text}}</P>
</div> -->

